# =============================================================================
# Development Environment
# =============================================================================
jupyter
ipykernel

# =============================================================================
# Data Processing
# =============================================================================
numpy
pandas
duckdb

# =============================================================================
# Cheminformatics
# =============================================================================
rdkit
mols2grid
useful-rdkit-utils

# =============================================================================
# Machine Learning
# =============================================================================
scikit-learn
lightgbm

# =============================================================================
# Visualization
# =============================================================================
matplotlib
seaborn

# =============================================================================
# Utilities
# =============================================================================
tqdm
wget

# =============================================================================
# Application
# 
streamlit
joblib